<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Enterprise AI - Home</title>
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <header>

      <a href="/"><h1>Enterprise AI</h1></a> <h1>TCS Inframind Season 4</h1>
          </header>
    <div class="content-wrapper">
      <div class="hero"></div>
      <div style="text-align: center; margin-top: auto;" class="card-container">
        <a class="card" href="/input-text">
        <div>
          <h2>Text Input</h2>
          <br>
          <i class="fa fa-text-width" aria-hidden="true"></i>
        </div>
      </a>
      <a class="card" href="/input-audio">
        <div>
          <h2>Audio Input</h2>
          <br>
          <i class="fa fa-microphone" aria-hidden="true"></i>
        </div>
      </a>
      <a class="card" href="/input-image">
        <div>
          <h2>Image Input</h2>
          <br>
          <i class="fa fa-picture-o" aria-hidden="true"></i>
        </div>
      </a>
      </div>
    </div>
    <footer></footer>
  </body>
</html>
